body {
    font-family: Arial, sans-serif;
    background-color: beige;
    margin-top: auto;
    padding: 0;
    position: relative;
    min-height: 100vh;
    padding-bottom: 300px; 
    overflow-x: hidden;
}

header { 
    background-color: beige; 
    color: black; 
    text-align: center; 
    padding: 20px; 
    border-top: 2px solid black; 
    border-bottom: 2px solid black;
}

header .navbar {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

header .navbar a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
}

header .navbar a:hover {
    background-color: #ddd;
    color: black;
}

@media screen and (max-width: 600px) { 
    header { 
        padding: 10px; 
    } 
}

.tittle {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: black; 
    padding: 10px 20px;
    border-radius: 10px;
}
.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.card p {
    color: #666;
    font-size: 14px;
}

.redes {
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.texto {
    width: 50%;
    padding: 20px;
}

.imagen {
    width: 50%;
}

.imagen img {
    width: 100%;
}

.redes {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.redes a {
    margin: 0 10px;
    color: white;
}

.redes a img {
    width: 30px;
    height: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* css contacto */



form {
    max-width: 400px;
    margin: 50px auto 0;
    background: #f9f9f9;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}


form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #0056b0;
}

form input[type="submit"]:focus {
    outline: none;
}

.Mensaje { 
    text-align: center; 
    font-family: "Arial";
    font-size: 18px; 
    color: #333; 
}


/* Proyectos */

.title { 
    text-align: center; 
}

.card.card1, .card.card2, .card.card3 {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    margin: 20px auto;  
    max-width: 90%; 
}
.card.card1 h2, 
.card.card2 h2, 
.card.card3 h2 { 
    font-size: 28px; 
    color: #333; 
}

.card.card1 img, 
.card.card2 img, 
.card.card3 img { 
    max-width: 100%; 
    border-radius: 10px; 
    margin-bottom: 20px; 
}

.card.card1 p, 
.card.card2 p, 
.card.card3 p { 
    font-size: 18px; 
    color: #555; 
}

/*Ubicacion  */
.card.full-width {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.map {
    width: 100%;
    max-width: 800px; 
}

.text {
    width: 100%;
    max-width: 800px; 
}

@media screen and (max-width: 768px) {
    .map, .text {
        max-width: 90%; 
    }
}

/* Nosotros */
.info { display: flex; justify-content: center; align-items: center; margin: 20px; }

.texto { flex: 1; text-align: center; padding: 20px; }

.imagen { flex: 1; text-align: center; margin: 20px; }

.imagen img { width: 25px; height: 25px; }

.carousel { width: 50%; margin: 0 auto; position: relative; overflow: hidden; }

.carousel-img { display: flex; width: 75%; animation: slide 10s infinite alternate; }

@keyframes slide { 0% { transform: translateX(0); } 25% { transform: translateX(-100%); } 50% { transform: translateX(-200%); } 75% { transform: translateX(-300%); } 100% { transform: translateX(0); } }

img { flex: 1 0 100%; }

button { position: absolute; top: 50%; transform: translateY(-50%); background: transparent; border: none; font-size: 2rem; cursor: pointer; }

.prev { left: 0; }

.next { right: 0; }

button:hover { color: #333; }

.prev::after, .next::after { content: "❯"; }